In [1]:
for i in range(1,10):
    print("Rahul")

Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul
Rahul

In [2]:
for i in range(1,10):
    print("Rahul",end=" ")

Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul

In [2]:
for i in range(1,10):
    for j in range(1,i+1):
        print("Rahul",end="")
    print("\n")

Rahul

RahulRahul

RahulRahulRahul

RahulRahulRahulRahul

RahulRahulRahulRahulRahul

RahulRahulRahulRahulRahulRahul

RahulRahulRahulRahulRahulRahulRahul

RahulRahulRahulRahulRahulRahulRahulRahul

RahulRahulRahulRahulRahulRahulRahulRahulRahul

In [4]:
for i in range(1,10):
    for k in range(1,10-i):
        print("  ",end = "")
        
    for j in range(1,i+1):
        print("Rahul",end="")
    print("\n")

                Rahul

              RahulRahul

            RahulRahulRahul

          RahulRahulRahulRahul

        RahulRahulRahulRahulRahul

      RahulRahulRahulRahulRahulRahul

    RahulRahulRahulRahulRahulRahulRahul

  RahulRahulRahulRahulRahulRahulRahulRahul

RahulRahulRahulRahulRahulRahulRahulRahulRahul

In [9]:
for i in range(10,0,-1):
    for space in range(1,10-i):
        print(" ",end = "")
    for j in range(1,1+i):
        print("Rahul",end=" ")
    print("\n")

Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul

Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul

 Rahul Rahul Rahul Rahul Rahul Rahul Rahul Rahul

  Rahul Rahul Rahul Rahul Rahul Rahul Rahul

   Rahul Rahul Rahul Rahul Rahul Rahul

    Rahul Rahul Rahul Rahul Rahul

     Rahul Rahul Rahul Rahul

      Rahul Rahul Rahul

       Rahul Rahul

        Rahul

In [5]:
for i in range(10,0,-1):
    for k in range(1,10-i):
        print(" ",end = "")
    for j in range(1,i+1):
        print("rahul",end = " ")
    print("\n")

rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul

rahul rahul rahul rahul rahul rahul rahul rahul rahul

 rahul rahul rahul rahul rahul rahul rahul rahul

  rahul rahul rahul rahul rahul rahul rahul

   rahul rahul rahul rahul rahul rahul

    rahul rahul rahul rahul rahul

     rahul rahul rahul rahul

      rahul rahul rahul

       rahul rahul

        rahul

In [6]:
for i in range(10,0,-1):
    for k in range(1,10-i):
        print(" ",end = "")
    for j in range(1,i+1):
        print(j,end = " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

1 2 3 4 5 6 7 8 9

 1 2 3 4 5 6 7 8

  1 2 3 4 5 6 7

   1 2 3 4 5 6

    1 2 3 4 5

     1 2 3 4

      1 2 3

       1 2

        1

In [2]:
for i in range(10,0,-1):
    for k in range(1,10-i):
        print(" ",end = "")
    for j in range(1,(2*i)+1):
        print(j,end = " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16

  1 2 3 4 5 6 7 8 9 10 11 12 13 14

   1 2 3 4 5 6 7 8 9 10 11 12

    1 2 3 4 5 6 7 8 9 10

     1 2 3 4 5 6 7 8

      1 2 3 4 5 6

       1 2 3 4

        1 2

In [7]:
for i in range(10,0,-1):
    for k in range(1,10-i):
        print(" ",end = "")
    for j in range(1,i+1):
        print(j+1,end = " ")
    print("\n")

2 3 4 5 6 7 8 9 10 11

2 3 4 5 6 7 8 9 10

 2 3 4 5 6 7 8 9

  2 3 4 5 6 7 8

   2 3 4 5 6 7

    2 3 4 5 6

     2 3 4 5

      2 3 4

       2 3

        2

In [8]:
for i in range(10,0,-1):
    for k in range(1,10-i):
        print(" ",end = "")
    for j in range(1,i+1):
        print(j+2,end = " ")
    print("\n")

3 4 5 6 7 8 9 10 11 12

3 4 5 6 7 8 9 10 11

 3 4 5 6 7 8 9 10

  3 4 5 6 7 8 9

   3 4 5 6 7 8

    3 4 5 6 7

     3 4 5 6

      3 4 5

       3 4

        3

In [9]:
for i in range(1,10):
    for k in range(1,10-i):
        print(" ",end = "")
    for j in range(1,i+1):
        print(j-1,end = " ")
    print("\n")

        0

       0 1

      0 1 2

     0 1 2 3

    0 1 2 3 4

   0 1 2 3 4 5

  0 1 2 3 4 5 6

 0 1 2 3 4 5 6 7

0 1 2 3 4 5 6 7 8

In [10]:
number = 1221

for i in range(6,0,-1):
    for j in range (1,i+1):
        print(number,end="")
    print("\n")

122112211221122112211221

12211221122112211221

1221122112211221

122112211221

12211221

1221

In [11]:
number = 1221

for i in range(1,6):
    for j in range (1,i+1):
        print(number,end="")
    print("\n")

1221

12211221

122112211221

1221122112211221

12211221122112211221

In [12]:
number = 1221

for i in range(1,10):
    for space in range(1,10-i):
        print(" ",end = "")
    for j in range (1,i+1):
        print(number,end="")
    print("\n")

        1221

       12211221

      122112211221

     1221122112211221

    12211221122112211221

   122112211221122112211221

  1221122112211221122112211221

 12211221122112211221122112211221

122112211221122112211221122112211221

In [13]:
rows = int(input("Enter the number "))

number = 1331

for i in range(1,10):
    for space in range(1,10-i):
        print(" ",end = "")
    for j in range (1,i+1):
        print(number,end="")
    print("\n")

Enter the number 6
        1331

       13311331

      133113311331

     1331133113311331

    13311331133113311331

   133113311331133113311331

  1331133113311331133113311331

 13311331133113311331133113311331

133113311331133113311331133113311331

In [14]:
rows = int(input("Enter the number "))

number = 1331

for i in range(rows):
    for space in range(rows-1):
        print("  ",end = "")
    for j in range (i+1):
        print(number,end="")
    print("\n")

Enter the number 9
                1331

                13311331

                133113311331

                1331133113311331

                13311331133113311331

                133113311331133113311331

                1331133113311331133113311331

                13311331133113311331133113311331

                133113311331133113311331133113311331

In [15]:
row = int(input("Enter The number"))

for i in range(9,0,-1):
    for space in range(1,9-i):
        print(" ",end = "")
    for j in range(1,i+1):
        print("788",end = "")
    print("\n")

Enter The number4
788788788788788788788788788

788788788788788788788788

 788788788788788788788

  788788788788788788

   788788788788788

    788788788788

     788788788

      788788

       788

# Break

In [16]:
for i in range(1,8):
    if i == 5:
        break
    print(i)

1
2
3
4

In [17]:
for i in range(1,11):
    if i == 11:
        break
    print(2,"*",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [18]:
def sumtwo():
    for i in range(1,10):
        print(3,"*",i,"=",3*i)

In [19]:
sumtwo()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [20]:
def fun1(num1,num2):
    
    
    result = (num1 + num2)/2
    
    return  result

In [21]:
s = fun1(4,6)
print(s)
print()
b = fun1(4,9)
print(b)

5.0

6.5

In [22]:
def sayhello(name):
    
    print("hello",",",name,"rahul")

In [23]:
sayhello("good Morning")

hello , good Morning rahul

# variable length arungment

In [24]:
def variable(*var):
    
    s = 0
    
    for i in var:
        s = s + i
        print(i)
    print("sum is ", "=", s)

In [25]:
variable(2,3,4444,567,890)

2
3
4444
567
890
sum is  = 5906

# function chcking for even

In [26]:
def iseven(n):
    
    if n%2 == 0:
        return True
    
    else:
        False
        
        
n = int(input("Enter The Number Is ")) 

if iseven(n):
    print("Even Number ")
else:
    print("Odd Number ")

Enter The Number Is 6
Even Number

In [27]:
iseven(100)

True

In [28]:
iseven(90)

True

In [29]:
def isOdd(n):
    
    if n%2 != 0:
        return True
    else:
        return False
    
n = int(input("Enter The Number Is = ")) 

if isOdd(n):
    print("odd Number ")
else:
    print("even Number")
    
    
    
for i in range(1,109):
    if iseven(i):
        print(i,end= " ")
        
        
print()
print()
        
        
for j in range(1,108):
    
    if isOdd(j):
        print(j,end = " ")

Enter The Number Is = 8
even Number
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107

In [74]:
def iseven(n):
    
    if n%2==0:
        return True
    else:
        return False
    
def isodd(n):
    if n%2 != 0:
        return True
    else:
        False
    
num = int(input("Enter The Number is "))

if iseven(n):
    print("even")
else:
    print("odd")
    
if isodd(n):
    print("Odd")
else:
    print("even")
    
    
    
    
    
for i in range(1,100):
    if iseven(i):
        print(i,end= " ")
        
print()
print()

for j in range(1,200):
    if isodd(j):
        print(j,end=" ")

Enter The Number is 6
even
even
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

In [37]:
def last(**kids):
    print("My Name Is ",kids["lname"])

In [40]:
last("Sinha", "Rahul")

My Name Is  Sinha

In [41]:
def last(*kids):
    print("My Name Is ",kids[0])

In [44]:
last("Sinha")

My Name Is  Sinha

# List Conperhension

In [71]:
list = []

for i in range(1,100):
    if i%2 != 0:
        list.append(i**2 )

In [72]:
Y = list
print(Y,end= " ")

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [73]:
[Y %2 for Y in range(1,100)]

[1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1]

In [100]:
list1 = ["Banana","Grapes","Apple","Red"]

list = []

for i in list1:
    if list1 != "Red":
        list.append(i)

In [101]:
list

['Banana', 'Grapes', 'Apple', 'Red']

In [92]:
list2 = [2,3,5,7,8,10,12]

list3 = []

for i in list2:
    if i%2 == 0:
        list3.append(i*2)

In [93]:
list3

[4, 16, 20, 24]

In [97]:
list3 = [x*x*x for x in list2 if x%2 == 0]

In [98]:
list3

[8, 512, 1000, 1728]

In [102]:
list = []

for i in range(1,50):
    if i%3 == 0:
        list.append(i*3)

In [103]:
list

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144]

In [112]:
list = [x*x*x for x in range(1,50) if (i%3==0)]

In [114]:
list

[]

In [119]:
list4 = [2,5,8,4]
list5 = ["A","B","C","D"]
list6 = []

In [120]:
for num in list4:
    for letter in list5:
        list6.append((num,letter))

In [121]:
list6

[(2, 'A'),
 (2, 'B'),
 (2, 'C'),
 (2, 'D'),
 (5, 'A'),
 (5, 'B'),
 (5, 'C'),
 (5, 'D'),
 (8, 'A'),
 (8, 'B'),
 (8, 'C'),
 (8, 'D'),
 (4, 'A'),
 (4, 'B'),
 (4, 'C'),
 (4, 'D')]

In [122]:
list7 = [(num,letter) for num in list4 for letter in list5]

In [123]:
list7

[(2, 'A'),
 (2, 'B'),
 (2, 'C'),
 (2, 'D'),
 (5, 'A'),
 (5, 'B'),
 (5, 'C'),
 (5, 'D'),
 (8, 'A'),
 (8, 'B'),
 (8, 'C'),
 (8, 'D'),
 (4, 'A'),
 (4, 'B'),
 (4, 'C'),
 (4, 'D')]

In [126]:
list8 = []

def sqr(n):
    for i in n:
        list8.append(i*i)
    return n

In [127]:
sqr([2,3,5,6,8])

[2, 3, 5, 6, 8]

In [128]:
list8

[4, 9, 25, 36, 64]

In [129]:
list9 = [1,2,4,6,7,8]

list10 = [i*i*i for i in list9]

In [130]:
list10

[1, 8, 64, 216, 343, 512]

In [133]:
list11 = [2,4,6,7,8,9]

list12 = [i*i*i for i in list11 if i%3 == 0]

In [134]:
list12

[216, 729]

In [137]:
list13 = [x+1 for x in range(12) if x%2==0]

In [138]:
list13

[1, 3, 5, 7, 9, 11]

In [165]:
list12 = [j for j in range(2,30)]
print(list12)
print()
list13 = [i for i in list12 if i%2==0]
print(list13)
print()
list14 = [k for k in list12 if k%2 != 0]
print(list14)
print()
list15 = [l for l in list12 if l >= 10]
print(list15)
print()
list16 = [m for m in list12 if m <= 10]
print(list16)
print()
list17 = [(n,n*2,n*n*n) for n in list12 ]
print(list17)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

[(2, 4, 8), (3, 6, 27), (4, 8, 64), (5, 10, 125), (6, 12, 216), (7, 14, 343), (8, 16, 512), (9, 18, 729), (10, 20, 1000), (11, 22, 1331), (12, 24, 1728), (13, 26, 2197), (14, 28, 2744), (15, 30, 3375), (16, 32, 4096), (17, 34, 4913), (18, 36, 5832), (19, 38, 6859), (20, 40, 8000), (21, 42, 9261), (22, 44, 10648), (23, 46, 12167), (24, 48, 13824), (25, 50, 15625), (26, 52, 17576), (27, 54, 19683), (28, 56, 21952), (29, 58, 24389)]

In [220]:
list18 = [(i*j) for i in range(1,8) for j in range(2,7)]

In [222]:
print(list18)

[2, 3, 4, 5, 6, 4, 6, 8, 10, 12, 6, 9, 12, 15, 18, 8, 12, 16, 20, 24, 10, 15, 20, 25, 30, 12, 18, 24, 30, 36, 14, 21, 28, 35, 42]

In [182]:
list = [[2,3,4],[1,5,6],[7,8,9]]

Flattenlist = []

In [183]:
for pair in list:
    for ele in pair:
        Flattenlist.append(ele)

In [184]:
Flattenlist

[2, 3, 4, 1, 5, 6, 7, 8, 9]

In [179]:
list19 = [ele for pair in list for ele in pair]

In [180]:
list19

[2, 3, 4, 1, 5, 6, 7, 8, 9]

In [188]:
list21 = [(x,y) for x in letter for y in letter if x!=y]

In [190]:
print(list21)

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('A', 'E'), ('A', 'F'), ('B', 'A'), ('B', 'C'), ('B', 'D'), ('B', 'E'), ('B', 'F'), ('C', 'A'), ('C', 'B'), ('C', 'D'), ('C', 'E'), ('C', 'F'), ('D', 'A'), ('D', 'B'), ('D', 'C'), ('D', 'E'), ('D', 'F'), ('E', 'A'), ('E', 'B'), ('E', 'C'), ('E', 'D'), ('E', 'F'), ('F', 'A'), ('F', 'B'), ('F', 'C'), ('F', 'D'), ('F', 'E')]

In [11]:
V = """American Airlines is a major US-based airline headquartered in Fort Worth,\
Texas, within the Dallas–Fort Worth metroplex.\
It is the largest airline in the world when measured by fleet size,\
scheduled passengers carried,\
and revenue passenger mile."""

In [12]:
print([word for word in V])

['A', 'm', 'e', 'r', 'i', 'c', 'a', 'n', ' ', 'A', 'i', 'r', 'l', 'i', 'n', 'e', 's', ' ', 'i', 's', ' ', 'a', ' ', 'm', 'a', 'j', 'o', 'r', ' ', 'U', 'S', '-', 'b', 'a', 's', 'e', 'd', ' ', 'a', 'i', 'r', 'l', 'i', 'n', 'e', ' ', 'h', 'e', 'a', 'd', 'q', 'u', 'a', 'r', 't', 'e', 'r', 'e', 'd', ' ', 'i', 'n', ' ', 'F', 'o', 'r', 't', ' ', 'W', 'o', 'r', 't', 'h', ',', 'T', 'e', 'x', 'a', 's', ',', ' ', 'w', 'i', 't', 'h', 'i', 'n', ' ', 't', 'h', 'e', ' ', 'D', 'a', 'l', 'l', 'a', 's', '–', 'F', 'o', 'r', 't', ' ', 'W', 'o', 'r', 't', 'h', ' ', 'm', 'e', 't', 'r', 'o', 'p', 'l', 'e', 'x', '.', 'I', 't', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'a', 'i', 'r', 'l', 'i', 'n', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 'w', 'h', 'e', 'n', ' ', 'm', 'e', 'a', 's', 'u', 'r', 'e', 'd', ' ', 'b', 'y', ' ', 'f', 'l', 'e', 'e', 't', ' ', 's', 'i', 'z', 'e', ',', 's', 'c', 'h', 'e', 'd', 'u', 'l', 'e', 'd', ' ', 'p', 'a', 's', 's', 'e', 'n', 'g', 'e', 'r', 's', ' ', 'c', 'a', 'r', 'r', 'i', 'e', 'd', ',', 'a', 'n', 'd', ' ', 'r', 'e', 'v', 'e', 'n', 'u', 'e', ' ', 'p', 'a', 's', 's', 'e', 'n', 'g', 'e', 'r', ' ', 'm', 'i', 'l', 'e', '.']

In [13]:
print([word for word in V.split()])

['American', 'Airlines', 'is', 'a', 'major', 'US-based', 'airline', 'headquartered', 'in', 'Fort', 'Worth,Texas,', 'within', 'the', 'Dallas–Fort', 'Worth', 'metroplex.It', 'is', 'the', 'largest', 'airline', 'in', 'the', 'world', 'when', 'measured', 'by', 'fleet', 'size,scheduled', 'passengers', 'carried,and', 'revenue', 'passenger', 'mile.']

In [14]:
print([word for word in V.split() if len(word)>=6])

['American', 'Airlines', 'US-based', 'airline', 'headquartered', 'Worth,Texas,', 'within', 'Dallas–Fort', 'metroplex.It', 'largest', 'airline', 'measured', 'size,scheduled', 'passengers', 'carried,and', 'revenue', 'passenger']

In [16]:
for i in V.split():
    if len(i) >6:
        print(i,end = " ")

American Airlines US-based airline headquartered Worth,Texas, Dallas–Fort metroplex.It largest airline measured size,scheduled passengers carried,and revenue passenger

In [212]:
for i in range(1,40):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i,end = "  ")

1  2  3  5  7  11  13  17  19  23  29  31  37

In [17]:
for i in range(1,40):
    for j in range(2,i):
        if i%j != 0:
            break
    else:
        print(i,end = "  ")

1  2

In [18]:
for i in range(1,40):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i,end = "  ")

1  2  3  5  7  11  13  17  19  23  29  31  37

In [19]:
for i in range(1,11):
    print(2,"*",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [235]:
list22 = [(2,"*",i,"=",2*i) for i in range(1,11)]

In [236]:
list22

[(2, '*', 1, '=', 2),
 (2, '*', 2, '=', 4),
 (2, '*', 3, '=', 6),
 (2, '*', 4, '=', 8),
 (2, '*', 5, '=', 10),
 (2, '*', 6, '=', 12),
 (2, '*', 7, '=', 14),
 (2, '*', 8, '=', 16),
 (2, '*', 9, '=', 18),
 (2, '*', 10, '=', 20)]

In [238]:
for i in range(1,8):
    for j in range(1,i+1):
        print(890,end = " ")
    print("\n")

890

890 890

890 890 890

890 890 890 890

890 890 890 890 890

890 890 890 890 890 890

890 890 890 890 890 890 890

In [244]:
for i in range(1,8):
    for k in range(1,8-i):
        print("  ",end = "")
    for j in range(1,i+1):
        print(890,end = " ")
    print("\n")

            890

          890 890

        890 890 890

      890 890 890 890

    890 890 890 890 890

  890 890 890 890 890 890

890 890 890 890 890 890 890