In [1]:
a = 10
b = 20
c = 40

In [2]:
if a == b:
    print("a is equal to c")
else:
    print("a is not equal to b")

a is not equal to b

In [3]:
if a == b:
    print("a is equal to b")
elif a > b:
    print("a is greater than equal to b")
elif a < b:
    print("a is less than equal to b")
else:
    print("a is not equal b")

a is less than equal to b

In [4]:
if a == b:
    print("a is equal to b")
elif a > b:
    print("a is greater than equal to b")
else:
    print("a is less than equal to b")

a is less than equal to b

In [1]:
input_marks = int(input("Input my marks:  "))

Input my marks:  67

In [6]:
marks > 80 A
marks > 60 B
marks > 40 C
marks > 20 D
marks < 20 E
marks > 100 invaild

SyntaxError: invalid syntax (2970486048.py, line 1)

In [3]:
if input_marks < 20:
    print("E")
elif input_marks > 20 and input_marks <= 40:
    print("D")
elif input_marks > 40 and input_marks <= 60:
    print("C")
elif input_marks > 60 and input_marks <= 80:
    print("B")
elif input_marks > 80 and input_marks <= 100:
    print("A")
elif input_marks > 100:
    print("invailed marks")
else:
    print("not a number")

B

In [8]:
input_marks = int(input("Input my marks:  "))

Input my marks:  170

In [ ]:
marks > 150 A
marks > 100 B
marks > 50  C
marks > 20  D
marks < 20  E
marks > 200 invaild

In [9]:
if input_marks < 20:
    print("E")
elif input_marks>20 and input_marks<=50:
    print("D")
elif input_marks>50 and input_marks<=100:
    print("C")
elif input_marks>100 and input_marks<=150:
    print("B")
elif input_marks>150 and input_marks<=200:
    print("A")
elif input_marks>200:
    print("invaild")
else:
    print("Not a number")

A

In [8]:
a = 39
b = 20

In [9]:
print("First Number") if a < b else print("Second Number")

Second Number

In [10]:
if a < b:
    print("First Name")
else:
    print("Second Name")

Second Name

In [ ]:
a = 70

#>10 greater than 10
#>20 greater than 20
#>30 greater than 30
#>40 greater than 40

In [11]:
if a > 10:
    print(">10")
    if a > 20:
        print(">10 and > 20")
        if a > 30:
            print(">10 and > 20 and >30")
            if a > 30:
                print(">10 and > 20 and > 30 and > 40")
            else:
                print(">10 and > 20 and > 30 but not >40")

>10
>10 and > 20
>10 and > 20 and >30
>10 and > 20 and > 30 and > 40

In [12]:
a = 10

In [13]:
if a > 10:
    print("a > 10")
    if a > 20:
        print(" a > 10 and a > 20")
        if a > 30:
            print("a > 10 and a > 20 and a > 30")
            if a  > 30:
                print(" a > 10 and a > 20 and a > 30 and a > 40")
            else:
                print(" a > 10 and a > 20 and a > 30 but not a > 40" )

In [14]:
a = -20
if a <= 10:
    print("a > 10 ")
elif a > 20:
    print("a > 20")
elif a > 30 :
    print("a > 30")
elif a > 40:
    print("a > 40")
else:
    print("a > 40 ")

a > 10

In [ ]:
a = 40

if a > 10:
    print(">10")
    if a > 20:
        print(">10 and >20")
        if a > 30:
            print(">10 and >20 and >30")
            if a > 30:
                print(">10 and > 20 and > 30 and > 40")
        else:
            print(">10 and >20 and >30 and >40")

In [ ]:
number = 10
if number > 10:
    print("Positive Number")
elif number == 10:
    print("equal to 10")
else:
    print("Negative number")

In [ ]:
var = "b"

if var == "a":
    print("this is a vowel")
elif var == "e":
    print("this ia e vowel ")
elif var == "o":
    print("this is o vowel")
else:
    print("this is a constant")

# nested If statement

In [ ]:
a = 50
if a == 30:
    if a < 50:
        print("positive number")
    else:
        print("equal to zero")
else:
    print("negative number")

In [ ]:
year = 2016
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("True")
        else:
            print ("False")
    else:
        print("True")
else:
    print("True")

In [ ]:
year = 2003
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("True")
        else:
            print("False")
    else:
        print("True")
else:
    print("False")

In [ ]:
year = 2003
if year % 4 == 0:
    print("True")
elif year % 100 == 0:
    print("False")
elif year % 400 == 0:
    print("True")
else:
    print("False")

In [ ]:
year = 2001
if year % 4 != 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("True")
        else:
            print("False")
    else:
        print("True")
else:
    print("false")

In [ ]:
year = 2020
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("True")
        else:
            print("False")
    else:
        print("True")
else:
    print("False")

In [ ]:
year = 2040
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("False")
        else:
            print("True")
    else:
        print("True")
else:
    print("False")

# Using Elif

In [10]:
input_year = int(input("Enter the Year to be checked: "))

if input_year % 400 == 0:
    print("% is a leap year"% input_year)
elif input_year % 100 == 0:
    print("% is not a leap year"% input_year)
elif input_year % 4 == 0:
    print("% is a leap year"% input_year)
else:
    print("% is not a leap year" % input_year)

Enter the Year to be checked: 2000
 2000s a leap year

In [12]:
input_year = int(input("Enter the Year to be checked: "))
if(input_year%4 == 0):
    if(input_year%100 == 0):
        if(input_year%400 == 0):
            print("%d is Leap Year" %input_year)
        else:
            print("%d is Not the Leap Year" %input_year)
    else:
        print("%d is Leap Year" %input_year)
else:
    print("%d is Not the Leap Year" %input_year)

Enter the Year to be checked: 2008
2008 is Leap Year

In [11]:
input_year = int(input("Enter the year :"))

if(input_year%4==0):
    if(input_year%400==0):
        if(input_year%100==0):
            print("True")
        else:
            print("False")
    else:
        print("True")
else:
    print("True")

Enter the year :2009
True

In [13]:
input_year = int(input("Enter the year :"))

if(input_year%4==0):
    if(input_year%400==0):
        if(input_year%100==0):
            print("%d is a leap year"% input_year)
        else:
            print("%d is not a leap year"% input_year)
    else:
        print("%d is a leap year"% input_year)
else:
    print("%d is a leap year"% input_year)

Enter the year :2008
2008 is a leap year

In [17]:
input_year = int(input("Enter the year :"))

if(input_year%4==0):
    if(input_year%400==0):
        if(input_year%100==0):
            print("%d is a leap year"% input_year)
        else:
            print("%d is a leap year"% input_year)
    else:
        print("%d is a leap year"% input_year)
else:
    print("%d is not a leap year"% input_year)

Enter the year :2000
2000 is a leap year

# Using Conditional Statement

In [ ]:
input_year = int(input("Enter the Year to be checked: "))
if (( input_year%400 == 0)or (( input_year%4 == 0 ) and ( input_year%100 != 0))):
    print("%d is Leap Year" %input_year)
else:
    print("%d is Not the Leap Year" %input_year)

# Using Function

In [18]:
def leapyearcheck(input_year):
    if (input_year % 4) == 0:
        if(input_year % 100) == 0:
            if (input_year % 400) == 0:
                return "True"
            else:
                return "False"
        else:
            return "False"
    else:
        return "True"
input_year = int(input("Enter the Year to be checked: "))
if(leapyearcheck(input_year)): 
    print("Leap Year") 
else: 
    print("Not a Leap Year")

Enter the Year to be checked: 1998
Leap Year

In [19]:
def LeapYearCheck(input_Year):
    if(input_Year % 4) == 0:
        if(input_Year % 100) == 0:
            if(input_Year % 400) == 0:
                print("False")
            else:
                print("True")
        else:
            print("True")
    else:
        print("False")

In [20]:
input_Year = int(input("Enter the year check: "))
if(LeapYearCheck(input_Year)):
    print("Leap Year")
else:
    print("Not Leap Year")

Enter the year check: 1976
True
Not Leap Year

# Write a Python program to convert month name to a number of days.

In [21]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 day")
else:
    print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: March
No. of days: 31 day

In [24]:
marks = [10,40,50,"rahul"]
for i in marks:
    if type(i)!=int:
        print("non int value",i)

non int value rahul

In [25]:
marks = [10,40,50,"rahul"]
for i in marks:
    if type(i)==int:
        print("non int value",i)

non int value 10
non int value 40
non int value 50

In [28]:
marks = [10,40,50,"rahul"]
for i in marks:
    if i!=int:
        print("non int value = ",i)

non int value =  10
non int value =  40
non int value =  50
non int value =  rahul

In [31]:
marks = [10,40,50,"rahul"]
for i in marks:
    if type(i)==int:
        print("non int value = ",i)

non int value =  10
non int value =  40
non int value =  50

In [32]:
marks = [10,40,50,"rahul"]
for i in marks:
    if type(i)!=int:
        print("non int value = ",i)

non int value =  rahul

In [33]:
ages = [20,40,50,70]
for i in ages:
    if i > 18:
        print("teenger",i)
    else:
        print("not teenger",i)

teenger 20
teenger 40
teenger 50
teenger 70

In [34]:
ages = [20,40,50,70]
for i in ages:
    if i < 18:
        print("teenger",i)
    else:
        print("not teenger",i)

not teenger 20
not teenger 40
not teenger 50
not teenger 70

In [35]:
ages = [20,40,50,70]
for i in ages:
    if i == 18:
        print("teenger",i)
    else:
        print("not teenger",i)

not teenger 20
not teenger 40
not teenger 50
not teenger 70